In [16]:
import pandas as pd

# Импортируем
df = pd.read_excel('trips_data_for_ML.xlsx', index_col=0)
df.head()

,salary,age,family_members,target,city_Екатеринбург,city_Киев,city_Краснодар,city_Минск,city_Москва,city_Новосибирск,...,city_Ярославль,vacation_preference_Архитектура,vacation_preference_Ночные клубы,vacation_preference_Пляжный отдых,vacation_preference_Шоппинг,transport_preference_Автомобиль,transport_preference_Космический корабль,transport_preference_Морской транспорт,transport_preference_Поезд,transport_preference_Самолет
0,196000,25,1,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,152000,60,1,London,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,83000,49,2,Sydney,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,161000,41,0,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,146000,58,1,Sydney,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [19]:
# Формируем данные для обучения
X = df.drop('target', axis=1)

# Формируем целевую переменную (то, что будем классифицировать)
y = df['target']
X

,salary,age,family_members,city_Екатеринбург,city_Киев,city_Краснодар,city_Минск,city_Москва,city_Новосибирск,city_Омск,...,city_Ярославль,vacation_preference_Архитектура,vacation_preference_Ночные клубы,vacation_preference_Пляжный отдых,vacation_preference_Шоппинг,transport_preference_Автомобиль,transport_preference_Космический корабль,transport_preference_Морской транспорт,transport_preference_Поезд,transport_preference_Самолет
0,196000,25,1,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,152000,60,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,83000,49,2,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,161000,41,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,146000,58,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,81000,55,2,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
996,96000,32,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
997,56000,68,2,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
998,162000,69,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
999,171000,35,1,0,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [22]:
# Импортируем классификатор - случайный лес (дла обычного дерева процесс будет таким же)
from sklearn.ensemble import RandomForestClassifier

# Создаём модель
model = RandomForestClassifier()

# Учим
model.fit(X, y)

RandomForestClassifier()

In [23]:
# Формируем переменную с параметрами, которые не участвовали в обучении. Попробуем классифицировать на её основе город. Строки должны быть в таком же порядке как и при обучении
example = {'salary': [20000],
			'age': [80],
		   'family_members': [0],
		   'city_Екатеринбург': [0],
		   'city_Киев': [0],
		   'city_Краснодар': [1],
		   'city_Минск': [0],
		   'city_Москва': [1],
		   'city_Новосибирск': [0],
		   'city_Омск': [0],
		   'city_Петербург': [0],
		   'city_Томск': [0],
		   'city_Хабаровск': [0],
		   'city_Ярославль': [0],
		   'vacation_preference_Архитектура': [0],
		   'vacation_preference_Ночные клубы': [0],
		   'vacation_preference_Пляжный отдых': [0],
		   'vacation_preference_Шоппинг': [1],
		   'transport_preference_Автомобиль': [1],
		   'transport_preference_Космический корабль': [0],
		   'transport_preference_Морской транспорт': [0],
		   'transport_preference_Поезд': [0],
		   'transport_preference_Самолет': [0]
		   }

# Перегоняем в нужный формат
example_df = pd.DataFrame(example)

# Классифицируем и смотрим, что модель обучилась и что то классифицировала - вроде работает
model.predict(example_df)

array(['New York'], dtype=object)