# **Практическое занятие по Pandas**

In [2]:
import pandas as pd
import numpy as np

#### **Задание 1.**

1. Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20] (воспользуйтесь функцией linspace)
2. Определите отношение элементов полученной серии к их предыдущим элементам. 
3. В результате необходимо получить среднее полученного вектора, оставив в нём только те значения, которые не более чем 1.5. 



##### Пояснения:
2. Если было бы необходимо найти последовательность из 3-х значений,  
равномерно разбивающих отрезок [0,1], то это были бы значения [0, 0.5, 1]. 

3. Если был бы дан список элементов a = [1,2,3,12], отношения элементов к предыдущим будут равны [NaN, 2, 1.5, 4]. А на последнем этапе в таком примере останется только [1.5] и среднее значение будет также 1.5.

In [7]:
#1
s1 = pd.Series(np.linspace(0, 1, 9))
s1

0    0.000
1    0.125
2    0.250
3    0.375
4    0.500
5    0.625
6    0.750
7    0.875
8    1.000
dtype: float64

In [20]:
#2
s2 = s1.divide(s1.shift(1))
s2

0         NaN
1         inf
2    2.000000
3    1.500000
4    1.333333
5    1.250000
6    1.200000
7    1.166667
8    1.142857
dtype: float64

In [24]:
#3
s3 = s2[s2 <= 1.5].mean()
s3

1.2654761904761906

#### **Задание 2.** 

По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям. 

Для заданного ниже объекта s проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12. 
2. Выберите из s элементы с индексами 3 и 5, после чего просуммируйте их, сохранив результат. 
3. Выберите из s только целочисленные элементы и вычислите их дисперсию. 

Все полученные результаты округлите до 2-х знаков после запятой.

##### Пояснения:
3. Целочисленные значения - значения, имеющие тип int.
- Дисперсия рассчитывается с помощью функции из библиотеки numpy: np.var( , ddof=0) или встроенной в python функции: .var(ddof=1)

In [41]:
s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98], index=range(6, 26, 2))
s

6         1
8         2
10      3.1
12      hi!
14        5
16     -512
18    12.42
20     sber
22     10.1
24       98
dtype: object

In [42]:
#1
s1 = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98], index=range(2, 12))
s1

2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object

In [57]:
#2
arr = []
for i in range(2,12):
    if type(s1[i]) == int:
        arr.append(s1[i])
s3 = pd.Series(arr, index = range(0, len(arr)))
s3.var()

76788.25

#### **Задание 3.** 
1. Сгенерируйте Series из 100 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3 раза. 
3. Выведите сумму элементов, строго меньших 2.6, имеющих нечётные значения индекса. 
4. Выведите количество значений серии меньше нуля.

#### Пояснения:
 - Следует внимательнее использовать [ ] для выбора данных по нескольким условиям: либо выбирать данные последовательно, либо сразу по нескольким условиям, но через оператор &. Отличие оператора and от оператора &: and - выводит последнее проверенное значение, & - выводит пересечение значений.
Пример: s[ _  &  _ ].sum()

In [15]:
np.random.seed(242)
### Выполнение задания

In [16]:
#1
s1 = pd.Series(np.random.normal(size=100))
s1

0    -0.357519
1     0.148448
2     0.993531
3     1.838968
4    -0.744026
        ...
95    0.950296
96    0.737315
97   -0.739985
98   -1.376260
99    0.052260
Length: 100, dtype: float64

In [17]:
#2
s2 = pd.Series(np.random.normal(size=100) ** 3, index=[x * 3 for x in range(100)])
s2

0      2.184877
3      0.089285
6     -5.771070
9      0.089886
12     9.059219
         ...
285   -1.259763
288   -0.003739
291    0.447243
294   -0.076015
297    0.036901
Length: 100, dtype: float64

In [18]:
#3
s3 = s2
print(s3[(x % 2 != 0 for x in s3.index) and (s3 < 2.6)].sum())

-113.472682273571

In [19]:
#4
s4 = s2
print(s4[s4 < 0].count())

48

#### **Задание 4.**
1. В tr_types выберите произвольные 100 строк с помощью метода sample (указав при этом random_seed равный 242)
2. В полученной на предыдущем этапе подвыборке найдите долю наблюдений (стобец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (\*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Строки "ПлатА за аренду", "ПлатАза аренду", "ПЛАТА" удовлетворяют условию, так как будучи переведёнными в нижний регистр содержат подстроку "плата".

In [ ]:
### Выполнение задания

In [ ]:
#1.
np.random.seed(242)
s1 = pd.read_csv("data/tr_types.csv", sep=';')
s1 = df.sample(100, random_state=242)
print(df)

In [ ]:
#2.
s2 = s1.loc[s1.tr_description.str.lower().str.contains('плата')].count()[0] / len(s1)
s2
print(f"{s2:.2f}")

#### **Задание 5.** 
1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Из перечисленных вариантов выберите те, которые попали в топ-5 транзакций по частоте встречаемости.

In [ ]:
### Выполнение задания

In [6]:
#1.
df1 = pd.read_csv("data/tr_types.csv", sep=';')
df1
groups = df1.groupby(['tr_type'])
df_s = groups.size()
df_s

tr_type
1000      1
1010      1
1030      1
1100      1
1110      1
         ..
8151      1
8210      1
8220      1
8230      1
999999    1
Length: 155, dtype: int64

In [7]:
#2.
df_s.max()

1

#### **Задание 6.**
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)

##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>

In [ ]:
### Выполнение задания

In [5]:
#1.
df1 = pd.read_csv("data/transactions.csv", sep=',')
df1.set_index('customer_id')
df1

         customer_id   tr_datetime  mcc_code  tr_type    amount   term_id
0           39026145    0 10:23:26      4814     1030  -2245.92       NaN
1           39026145    1 10:19:29      6011     7010  56147.89       NaN
2           39026145    1 10:20:56      4829     2330 -56147.89       NaN
3           39026145    1 10:39:54      5499     1010  -1392.47       NaN
4           39026145    2 15:33:42      5499     1010   -920.83       NaN
...              ...           ...       ...      ...       ...       ...
1048570     58627203  411 09:47:34      4814     1030  -2245.92    888923
1048571     58627203  411 09:57:25      5411     1110  -7939.31  77105690
1048572     58627203  411 12:58:51      5331     1010  -1572.14  10117432
1048573     58627203  412 08:46:42      5441     1110  -2043.78     34615
1048574     58627203  412 13:13:58      5943     1110  -2728.79     31973

[1048575 rows x 6 columns]

In [7]:
#2.
max = df1['amount'].max()
max

145984525.17

#### **Задание 7.**
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
 
В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
### Выполнение задания
s1 = pd.read_csv("data/transactions.csv", sep=',') 
s2 = pd.read_csv('data/tr_mcc_codes.csv', sep=';') 
s3 = pd.read_csv('data/tr_types.csv', sep=';') 
s4 = pd.read_csv('data/gender_train.csv', sep=',') 
 
s = pd.merge(s1, s4, how='left') 
s = pd.merge(s, s2, how='inner') 
s = pd.merge(s, s3, how='inner') 
print(len(s))

#### **Задание 8**
Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3], то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

In [9]:
### Выполнение задания
df = pd.merge(pd.read_csv("data/transactions.csv", sep=','),pd.read_csv("data/gender_train.csv", sep=','))
res = df.groupby("gender")["amount"].mean().diff().abs()
res

gender
0            NaN
1    2711.203527
Name: amount, dtype: float64

#### **Задание 9**

1. Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (*)
2. Оставьте только наблюдения с отрицательным значением amount.

##### Пояснения:
(*) Для конкатенации значений в столбцах можно использовать метод .astype(str) для серии и складывать соответствующие серии. 
Либо же применять apply к строкам датафрейма, прописывая логику преобразования и конкатенации значений внутри.

In [ ]:
### Выполнение задания
s = pd.read_csv('data/transactions.csv', sep=',') 
s["mcc_code+tr_type"] = s["mcc_code"].astype(str) + s["tr_type"].astype(str) 
s = s[['mcc_code+tr_type', 'amount']][s.amount < 0] 
s